#app {
  font-family: 'Economica', sans-serif;
  background-image: url("./images/topography.png");
}
/* Pages Styles */

/* Home Page */
#droneSection,
#aboutSection {
  margin-top: 100px;
  margin-bottom: 50px;
}
#aboutSection {
  text-align: center;
}
.parallax {
  /* The image used */
  background-image: url("./images/droneFlight.jpg");

  /* Set a specific height */
  min-height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  display: flex;
  justify-content: center;
  align-items: center;  
}
#quote {
  color: white;
  font-size: 25px;
}
#teamTitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.teamCard h3, .teamCard p {
  text-align: center;
}
/* End Home */

/*Guide Page */
#droneParts {
  text-align: center;
  font-size: 25px;
  margin: auto;
}
#dronePart {
  margin: auto;
}
/* End Guide

/* End Pages */

/* Navbar Styles */

.navbar {
  border-bottom: #566473 solid 2px;
  font-family: 'Anton', sans-serif;
  font-size: 20px;
}
#signup {
  margin: 5px;
  border-color: #566473;
  background-color: #566473;
  color: #BFBFBF;
}
#login, #logout {
  margin: 5px;
  border-color: #566473;
  color: #566473;
}
#homeNavBtn,
#accountNavBtn,
#guideNavBtn {
  color: #566473;
}
.nav-link.active {
  border-bottom: dashed #111111 2px;
}
#homeNavBtn:hover,
#accountNavBtn:hover,
#guideNavBtn:hover {
  color: #94DD98;
  border-color: #94DD98;
}
#login:hover, #logout:hover {
  border-color: #3B8C23;
  background-color: #f8f9fa;
  color: #3B8C23;
}
#signup:hover {
  background-color: #3B8C23;
  border-color: #3B8C23;
  color: #f8f9fa;
}

/* End Navbar */

/* Footer Styles */

.footer {
  border-top: #566473 solid 2px;
  border-bottom: none;
}
#footerText {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}

/* End Footer */
